<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:fragment="header">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		
		<p>This is header</p>
		
	</div>
	
	<div th:fragment="footer" ng-app="footer" ng-controller='footerController as footerCtrl'>
	
		{{footerCtrl.angular_}}
		<footer>&copy; {{FromDate}} Footer</footer>
		<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</div>
</body>
</html>